# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible

*.py

.cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ansible
